body {
  margin: 0;
  font-family: Marcellus,sans-serif !important;
  line-height: 1.755rem !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  font-size: 1.464rem !important;
  font-weight: bolder !important;
  font-family: "Reem Kufi" !important;
  line-height: 2.333rem !important;
}
h3{
  font-size: 1.12rem !important;
  font-weight: bolder !important;
  font-family: "Reem Kufi" !important;
}
img{
  width: 100%;
  height: auto;
}
.alpha-1{
  opacity: 0.5;
}
.border-left-colored{
  border-left: 3px solid tomato !important;
}
.font-weight-bolder{
  font-weight: bolder !important;
}
.font-weight-lighter{
  font-weight: lighter !important;
}
.landing-copy{
  position: absolute !important;
}
.large{
  font-size: 2.441rem !important;
  line-height: 3.955rem !important;
}
.mt-6{
  margin-top: 6rem;
}
.mt-7{
  margin-top: 7rem;
}
.navbar-toggler{
  border: none !important;
}
.navbar-toggler-icon{
  background-image: url('svgs/mbri-menu.svg') !important;
}
.small{
  font-size: 0.75rem !important;
}
.text-roboto{
  font-family: roboto !important;
}
.text-roboto-thin{
  font-family: helvetica !important;
}
.x-lg{
  font-size: 2rem !important;
}
.z-index-0{
  z-index: 0;
}
.z-index-1{
  z-index: 1;
}